{{/* Default Dynamic Values */}}

{{ $shell := "" }}
{{- if eq .chezmoi.os "windows" -}}
  {{- $shell = "pwsh" -}}
{{- else -}}
  {{- $shell = "zsh" -}}
{{- end -}}

[git]
autoAdd = true # Add changes to the source state after any change
autoCommit = false
autoPush = false