# == user ==
[user]
	name = {{ .githubUserName }}
	email = {{ .gmail }}
[github]
	user = {{ .githubUserName }}
[init]
	defaultBranch = main

# == Ease ==
[core]
{{ if (or (eq .chezmoi.os "darwin") (eq .chezmoi.os "linux")) }}
  editor = nvim
{{ else }}
  editor = code --wait
{{ end }}
[fetch]
	prune = true
[alias]
	st = "status"
	br = "branch"
	ch = "checkout"
	cm = "commit"
[color]
	ui = auto

# == Security ==
# transfer/receive integrity
[transfer]
	fsckObjects = true
[receive]
	fsckObjects = true
# credenence cache
[credential]
	helper = manager
[credential "helperselector"]
	selected = manager

# == net ==
[http]
sslverify = false