# == user ==
[user]
	name = {{ .githubUserName }}
	email = {{ .gmail }}
[github]
	user = {{ .githubUserName }}
[init]
	defaultBranch = main

# == Ease ==
[core]
{{ if (or (eq .chezmoi.os "darwin") (eq .chezmoi.os "linux")) }}
  editor = nvim
{{ else }}
  editor = code --wait
{{ end }}
[fetch]
	prune = true
[alias]
	st = "status"
	br = "branch"
	ch = "checkout"
	cm = "commit"
[color]
	ui = auto

# == Security ==
# transfer/receive integrity
[transfer]
	fsckObjects = true
[receive]
	fsckObjects = true

# == net ==
[http]
sslverify = false
# credenence cache
[credential]
{{- if eq .chezmoi.os "windows" }}
	helper = wincred 
{{- else if eq .chezmoi.os "darwin" }}
	helper = osxkeychain
{{- else if eq .chezmoi.os "linux" }}
	helper = cache --timeout=7200
{{- end }}
{{- if eq .chezmoi.os "windows" }}
[credential "helperselector"]
	selected = wincred
{{- end }}
[credential "https://codeberg.org"]
	provider = generic
