if (-Not (Test-Path "$HOME/.config/chezmoi/key.txt")) {
	New-Item -ItemType Directory -Path "$HOME/.config/chezmoi" -Force | Out-Null
	# decrypt with rage
	# ensure rage is installed
	if (-Not (Get-Command "rage" -ErrorAction SilentlyContinue)) {
		Write-Error "rage is not installed. Please install it and try again."
		exit 1
	}
	& rage -o "$HOME/.config/chezmoi/key.txt" -p "{{ .chezmoi.sourceDir }}/key.txt.rage"
} 