if (Test-Path "$HOME/.config/chezmoi/key.txt") {
	return
}
New-Item -ItemType Directory -Path "$HOME/.config/chezmoi" -ErrorAction SilentlyContinue | Out-Null
# ensure rage is installed
if (-Not (Get-Command "rage" -ErrorAction SilentlyContinue)) {
	Write-Error "rage is not installed. Please install it and try again."
	exit 1
}
Write-Host "Decrypting key.txt.rage..."
& rage -d "{{ .chezmoi.sourceDir }}/key.txt.rage" -o "$HOME/.config/chezmoi/key.txt"
