if (-Not (Test-Path "$HOME/.config/chezmoi/key.txt")) {
	New-Item -ItemType Directory -Path "$HOME/.config/chezmoi" -Force | Out-Null
	# decrypt with chezmoi
	& chezmoi age decrypt --output "$HOME\.config\chezmoi\key.txt" --passphrase "{{ .chezmoi.sourceDir }}/key.txt.rage"
}