{{/* Load data.toml to access encrypted data */}}
{{- $secret := includeTemplate "data" . | fromToml -}}
{{- $repo := $secret.S3.repository -}}
{{- $AWS_ACCESS_KEY_ID := $secret.S3.AWS_ACCESS_KEY_ID -}}
{{- $AWS_SECRET_ACCESS_KEY := $secret.S3.AWS_SECRET_ACCESS_KEY -}}

version = "1"

[groups]
all = ["lib","depic","vivaldi"]

[default]
repository = {{ quote $repo }}
password-file = ".restic_pw"

[default.backup]
verbose = true
schedule = ["weekly"]
schedule-lock-wait = "1h"

[default.env]
AWS_ACCESS_KEY_ID = {{ quote $AWS_ACCESS_KEY_ID }}
AWS_SECRET_ACCESS_KEY = {{ quote $AWS_SECRET_ACCESS_KEY }}

[default.forget]
keep-monthly = 1
keep-weekly = 4
prune = true
schedule = ["monthly"]
schedule-permission = "user"
schedule-lock-wait = "1h"

[default.prune]
schedule = ["monthly"]
schedule-permission = "user"
schedule-lock-wait = "1h"

[lib]
inherit = "default"

[lib.backup]
tag = ["tag:LibDb"]
source = ["$LibDb"]

[lib.snapshots]
tag = ["tag:LibDb"]

[lib.restore]
target = ["$LibDb"]
overwrite = "if-changed"

[depic]
inherit = "default"

[depic.backup]
tag = ["tag:Depic"]
source = ["$Depic"]

[depic.snapshots]
tag = ["tag:Depic"]

[depic.restore]
target = ["$Depic"]

[vivaldi]
inherit = "default"

[vivaldi.backup]
tag = ["tag:Vivaldi"]
source = ["%LOCALAPPDATA%/Vivaldi/User Data/Default"]
exclude = ["*cache*", "*Cache*"]

[vivaldi.snapshots]
tag = ["tag:Vivaldi"]

[vivaldi.restore]
target = ["%LOCALAPPDATA%/Vivaldi/User Data/Default"]
overwrite = "if-changed"