{{/* Load data.toml to access encrypted data */}}
{{- $secret := includeTemplate "data" . | fromToml -}}
{{- $v_api := $secret.virustotal.api_key -}}
{
    "last_update": "2026-01-17T13:16:17.4732889+08:00",
    "scoop_repo": "https://gitee.com/scoop-installer/scoop",
    "scoop_branch": "master",
    "virustotal_api_key": "{{ $v_api }}",
    "aria2-enabled": true
}
