#!/bin/bash
# key.txt.rage hash: {{ include "key.txt.rage" | sha256sum }}

set -euo pipefail

TARGET="${HOME}/.config/chezmoi/key.txt"
SOURCE="{{ joinPath .chezmoi.sourceDir "key.txt.rage" }}"

mkdir -p "$(dirname "$TARGET")"

# ensure rage is installed
if ! command -v rage &> /dev/null; then
    echo "rage is not installed. Please install it and try again."
    exit 1
fi

echo "Decrypting key.txt.rage..."
rage -d "$SOURCE" -o "$TARGET"

chmod 600 "$TARGET"
